" enable IdeaVim features
set surround

" vim config
set relativenumber
set cursorline
set surround
set hlsearch is ignorecase scs
set tabstop=4 shiftwidth=4 expandtab

""" Shortcuts =====================
let mapleader = ","
let maplocalleader = ","
inoremap jk <esc>
nmap <silent> <C-n> :noh<CR>

" Classic Tab indents
nnoremap <Tab> >>_
nnoremap <S-Tab> <<_
inoremap <S-Tab> <C-D>
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv

" Switch splits easier
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Switch alternate file / recent files
nnoremap <C-6> :action Switcher<CR>
nnoremap <leader><Space> :action Switcher<CR>

" Go to terminal (tmux style)
nnoremap <C-a>j :action ActivateTerminalToolWindow<CR>

" Navigate menus
inoremap <C-n> <Down>
inoremap <C-p> <Up>

" comment out
vnoremap <leader>c<space> :action CommentByLineComment<CR>
nnoremap <leader>c<space> :action CommentByLineComment<CR>

" search
nnoremap <leader>f :action FindInPath<CR>
nnoremap <leader>o :action SearchEverywhere<CR>

" tabularize
nnoremap <leader>a :action StringManipulation.AlignToColumns<CR>
vnoremap <leader>a :action StringManipulation.AlignToColumns<CR>

" change case
nnoremap crc :action StringManipulation.ToSnakeCaseOrCamelCase<CR>
nnoremap crs :action StringManipulation.ToSnakeCaseOrCamelCase<CR>
nnoremap crm :action StringManipulation.ToPascalCaseOrCamelCase<CR>
nnoremap crt :action StringManipulation.ToSentenceCaseOrCamelCase<CR>
nnoremap cr- :action StringManipulation.ToHyphenCaseAction<CR>

" select file in sidebar
nnoremap <leader>t :action SelectInProjectView<CR>

" select next occurence
map <M-G> :action SelectNextOccurrence<CR>
